aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
backoff
bcrypt
beautifulsoup4
build
cachetools
certifi
cffi
charset-normalizer
chromadb
click
colorama
coloredlogs
cryptography
dataclasses-json
distro
dotenv
durationpy
emoji
fastapi
filelock
filetype
flatbuffers
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
html5lib
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langdetect
langsmith
lxml
Markdown
markdown-it-py
marshmallow
mdurl
mmh3
mpmath
multidict
mypy_extensions
nltk
numpy
oauthlib
olefile
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pip
posthog
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic_core
pydantic-settings
Pygments
pyparsing
pypdf
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
python-iso639
python-magic
python-multipart
python-oxmsg
PyYAML
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
shellingham
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tenacity
tiktoken
tokenizers
tqdm
typer
typing_extensions
typing-inspect
typing-inspection
unstructured
unstructured-client
uritemplate
urllib3
uvicorn
watchfiles
webencodings
websocket-client
websockets
wrapt
yarl
zipp
zstandard
