chromadb
openai
dotenv
langchain-community
langchain-text-splitters
pypdf
langchain-openai
tiktoken
fastapi
langchain-google-genai
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
python-multipart